.space20{
    clear: both;
    display: block;
    height: 20px;
}

.space40{
    clear: both;
    display: block;
    height: 40px;
}

.space60{
    clear: both;
    display: block;
    height: 60px;
}

.space80{
    clear: both;
    display: block;
    height: 80px;
}

.space100{
    clear: both;
    display: block;
    height: 100px;
}
.horizontal_line{
    background-color: #000000;
    height: 2px;
}


.cp-highlighted-text{

    background-color: #333333!important;
    color: #ffffff!important;
    padding: 2%!important;
}

.headerwrap {
  margin-top: -40px;
  padding-top: 20px;
    text-align: center;
/*
    background-attachment: relative;
*/
    background-position: center center;
    height: 400px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.paraBreak{
    word-wrap: break-word;
}